Dockerfile
Dockerfile-dev
.circleci
.vscode
/examples
/test
dev-core
dev-cli
mesg-dev
.git
**/*.test
**/debug
node_modules

# prevent go build cache to break inside Docker on changes to systemservices/sources.
systemservices/sources