@import './override.styl'

img
  max-width 100%

header.navbar
  background-color $backgroundColor
  background-image url(/bg.svg)
  background-blend-mode overlay
  background-size cover

  .site-name
    display none
  a
    color #eee
    &:hover, &.router-link-active
      color white
  .sidebar-button
    color #eee
    top 1.6rem

.home .hero
  img
    margin-bottom 5em
    margin-top 5em
  h1
    display none

@media (max-width: $MQMobileNarrow)
  .content div[class*="language-"]
    margin auto
