@import './override.styl'

.hero h1
  display none

img
  max-width 100%

header.navbar
  background-color $backgroundColor

  .links
    background-color transparent
  .site-name
    display none
  a
    color #eee
    &:hover, &.router-link-active
      color white
  .sidebar-button
    color #eee

.home .hero
  img
    margin-bottom 5em
    margin-top 5em
  h1
    display none

@media (max-width: $MQMobileNarrow)
  .content div[class*="language-"]
    margin auto
